name: Buf CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  delete:
permissions:
  contents: read
  pull-requests: write
jobs:
  buf:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: bufbuild/buf-action@v1
